@model Team_Todo_Management.Models.Todo

@{
    ViewData["Title"] = "Edit";
}


@*Todo Info*@
<div class="container">
    <h1 class="border-bottom">Task Information</h1>
    <form asp-action="Edit" asp-controller="Todo" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="1">New</option>
                    <option value="2">Processing</option>
                    <option value="3">Done</option>
                    <option value="4">Overdue</option>
                    <option value="5">Cancelled</option>
                </select>
                <span asp-validation-for="Scope" class="text-danger"></span>
            </div>
            <div class="form-group col">
                <label asp-for="Scope" class="control-label"></label>
                <select asp-for="Scope" class="form-control">
                    <option value="1">Public</option>
                    <option value="2">Private</option>
                </select>
                <span asp-validation-for="Scope" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group float-right mt-2">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
        <div class="clearfix"></div>
    </form>

    @*Participant list*@
    <div class="d-flex flex-fill justify-content-between">
        <div class="pr-4">
            <h1 class="border-bottom">Participants</h1>
            <div class="mb-2">
                <div>
                    John Doe
                </div>
                <div>
                    Lil Pun
                </div>
            </div>
            <button 
                    type="button"
                    id="addNewParticipantBtn"
                    class="btn btn-primary">
                Add new participant
            </button>
        </div>
        <div class="pl-4">
            <h1 class="border-bottom">Attachment</h1>
            <div class="mb-2">
                <div>
                    John Doe
                </div>
                <div>
                    Lil Pun
                </div>
            </div>
            <button 
                    type="button"
                    id="addNewAttachmentBtn"
                    class="btn btn-primary">
                Add new attachment
            </button>
        </div>
        <div></div>
    </div>
</div>

@*<h4>Todo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scope" class="control-label"></label>
                <select asp-for="Scope" class="form-control"></select>
                <span asp-validation-for="Scope" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedById" class="control-label"></label>
                <input asp-for="CreatedById" class="form-control" />
                <span asp-validation-for="CreatedById" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedAt" class="control-label"></label>
                <input asp-for="LastModifiedAt" class="form-control" />
                <span asp-validation-for="LastModifiedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedById" class="control-label"></label>
                <input asp-for="LastModifiedById" class="form-control" />
                <span asp-validation-for="LastModifiedById" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a href="##" onClick="history.go(-1); return false;">Go back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
